<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta charset="utf-8">
	<title>Resume Admin</title>
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<body>

	<div class="container" ng-controller="AppCtrl">
	
		<h1>Wilbert Veit Resume Admin Page</h1>	
		
		<h2>Education</h2>
		<input type="text" id="school" placeholder="school" ng-model="inputEdu.school">
		<input type="text" id="degree" placeholder="degree" ng-model="inputEdu.degree">
		<input type="text" id="last_year" placeholder="last year" ng-model="inputEdu.last_year">
		<input type="button" id="edu_add" value="Add Edu" ng-click="addEdu()">
		<input type="button" id="edu_save" value="Save Changes" ng-click="saveChange(inputEdu)" hidden>
		<input type="button" id="edu_cancel" value="Cancel Edit" ng-click="cancelEdit(inputEdu)" hidden>
		<table class="table">
			<thead>
				<tr>
					<th>School</th>
					<th>Degree</th>
					<th>Last Year</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="edu in edulist">
					<td>{{edu.school}}</td>
					<td>{{edu.degree}}</td>
					<td>{{edu.last_year}}</td>
					<td>
						<input type="button" value="Delete" ng-click="remove('edu', edu._id)">
						<input type="button" value="Edit" ng-click="edit(edu)">
						{{ (edu._id == inputEdu._id ? "editing" : "") }}
					</td>
				</tr>
			</tbody>
		</table>
		
		
		
		<h2>Skills</h2>
		<input type="text" id="skill" placeholder="skill" ng-model="inputSkill.skill">
		<input type="button" id="skill_add" value="Add Skill" ng-click="addSkill()">
		<input type="button" id="skill_save" value="Save Changes" ng-click="saveChange(inputSkill)" hidden>
		<input type="button" id="skill_cancel" value="Cancel Edit" ng-click="cancelEdit(inputSkill)" hidden>
		<table class="table">
			<thead>
				<tr>
					<th>Skill</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="skill in skilllist">
					<td>{{skill.skill}}</td>
					<td>
						<input type="button" value="Delete" ng-click="remove('skill', skill._id)">
						<input type="button" value="Edit" ng-click="edit(skill)">
						{{ (skill._id == inputSkill._id ? "editing" : "") }}
					</td>
				</tr>
			</tbody>
		</table>
		
		
		
		<h2>Projects</h2>
		<input type="text" id="title" placeholder="title" ng-model="inputProject.title">
		<input type="text" id="description" placeholder="description" ng-model="inputProject.description">
		<input type="button" id="project_add" value="Add Project" ng-click="addProject()">
		<input type="button" id="project_save" value="Save Changes" ng-click="saveChange(inputProject)" hidden>
		<input type="button" id="project_cancel" value="Cancel Edit" ng-click="cancelEdit(inputProject)" hidden>
		<table class="table">
			<thead>
				<tr>
					<th>Title</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="project in projectlist">
					<td>{{project.title}}</td>
					<td>{{project.description}}</td>
					<td>
						<input type="button" value="Delete" ng-click="remove('project', project._id)">
						<input type="button" value="Edit" ng-click="edit(project)">
						{{ (project._id == inputProject._id ? "editing" : "") }}
					</td>
				</tr>
			</tbody>
		</table>
		
	
	</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script src="controllers/controller.js"></script>
	
</body>
</html>
